body {color: #0F90F9}
#upload-form {}
.upload-form-item {}
#upload-file {}
#msg-block { 
	border: solid 1px #f90f90;
	position: relative;
}
#msg { 
    /*border: solid 1px #00ff99;*/
	position: fixed;
}
#progress-block {
	/*border: solid 1px #abcdef;*/
	position: fixed;
}

progress {
	border: none;
	background: transparent;
	}
progress::-moz-progress-bar { 
    background: #00E000;	
}
progress::-webkit-progress-bar {
    background: #00E000;
}

.fade-thing {
	animation: fade-in-out 5s 1 ;
	-moz-animation: fade-in-out 5s 1 ;
	-webkit-animation: fade-in-out 5s 1 ;
	-o-animation: fade-in-out 5s 1 ;
	opacity: 0;
}

@keyframes fade-in-out {
	0% {opacity: 0;}
	20% {opacity: 1;}
	100% {opacity: 0;}
	}

@-webkit-keyframes fade-in-out {
	0% {opacity: 0;}
	20% {opacity: 1;}
	100% {opacity: 0;}
	}

@-moz-keyframes fade-in-out {
	0% {opacity: 0;}
	20% {opacity: 1;}
	100% {opacity: 0;}
	}

@-o-keyframes fade-in-out {
	0% {opacity: 0;}
	20% {opacity: 1;}
	100% {opacity: 0;}
	}